/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define XXX &none

&sk {
    release-after-ms = <900>;
    quick-release;
};

/ {
    behaviors {
        // MACROS
        ///////////////

        // MACROS: 42

        ublw: ublw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LGUI
                &kp LALT
                &kp LEFT
            >;
        };

        ubrw: ubrw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LGUI &kp LALT &kp RIGHT>;
        };

        // MACROS: Aerospace

        tw_y: tw_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(Y)
            >;
        };

        tw_u: tw_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(U)
            >;
        };

        tw_i: tw_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(I)
            >;
        };

        tw_o: tw_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(O)
            >;
        };

        tw_h: tw_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(H)
            >;
        };

        tw_j: tw_j {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(J)
            >;
        };

        tw_k: tw_k {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(K)
            >;
        };

        tw_l: tw_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(L)
            >;
        };

        tw_n: tw_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(N)
            >;
        };

        tw_m: tw_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(M)
            >;
        };

        tw_comma: tw_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(COMMA)
            >;
        };

        tw_dot: tw_dot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <
                &kp LG(DOT)
            >;
        };

        // MACROS: Basic

        sret: sret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LS(RET)>;
        };

        copy_cut: copy_cut {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LC(C)>, <&kp LC(C) &kp BSPC>;
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(LS(V))>;
        };              

        sall: sall {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(A)>;
        };              

        p_tmux: p_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(A) &kp P>;
        };

        n_tmux: n_tmux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <5>;
            bindings = <&kp LC(A) &kp N>;
        };

        p_tab: p_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(LS(TAB))>;
        };

        n_tab: n_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(TAB)>;
        };

        shift_tab: shift_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LS(TAB)>;
        }; 

        p_page: p_page {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LA(LS(TAB))>;
        };

        n_page: n_page {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <5>;
            bindings = <&kp LC(TAB)>;
        };

        claude: claude {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          wait-ms = <10>;
          tap-ms = <5>;
          bindings = <
              &kp LS(ENTER)
              &kp GRAVE
              &kp GRAVE
              &kp GRAVE
              &kp LS(ENTER)
              &kp LC(V)
              &kp DOWN
              &kp LS(ENTER)
              &kp BSPC
          >;
        };

        // HOLD TAPS
        ///////////////

        htap: htap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            bindings = <&mo>, <&kp>;
        };

        ht_sk: ht_sk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            bindings = <&mo>, <&sk>;
        };
    };
};

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {                                                                                      
            display-name = "RSTHD";
            bindings = <
            //                                                                                            
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &mo 1         &kp J         &kp C         &kp Y         &kp F         &kp K         &mo 1                 &mo 1         &kp Z         &kp L         &kp COMMA     &kp U         &kp Q         &mo 1
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp LCTRL     &kp R         &kp S         &kp T         &kp H         &kp D         &mo 2                 &mo 2         &kp M         &kp N         &kp A         &kp I         &kp O         &kp LGUI
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp LALT      &kp FSLH      &kp V         &kp G         &kp P         &kp B                                             &kp X         &kp W         &kp DOT       &kp MINUS     &kp SEMI      &kp LALT
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       &kp ESC       &htap 3 E     &kp BSPC              &ht_sk 5 LSHFT &htap 3 SPACE &mo 4                                                              
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;                                                                                                                   
        };                                                                            

        lower_layer {
            display-name = "NUMBER";
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &kp TAB       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &bootloader           &bootloader   &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp BSPC
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp LCTRL     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp LALT              &kp RALT      &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     XXX           XXX   
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp LSHFT     &bt BT_CLR    XXX           &sys_reset    XXX           &studio_unlock                                    XXX           &bootloader   XXX           XXX           XXX           XXX   
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       &kp LGUI      XXX           &rgb_ug RGB_TOG       &kp LGUI      XXX           &kp SPACE
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               &kp HASH      &kp CARET     &kp SQT       &kp DQT       &kp PLUS      &kp QMARK     &kp LCTRL             &kp RCTRL     XXX           &kp AMPS      &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSPC
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp EXCL      &kp GRAVE     &kp LBKT      &kp RBKT      &kp EQUAL     &kp STAR      &kp LALT              &kp RALT      XXX           &kp CARET     &kp DLLR      XXX           &kp BSLH      &kp GRAVE
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp AMPS      &kp LBRC      &kp LPAR      &kp RPAR      &kp RBRC      &kp FSLH                                          &kp CARET     &kp PLUS      &kp AT        &kp RBRC      &kp PIPE      &kp TILDE
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       &kp LGUI      XXX           &kp BSPC              &kp RET       XXX           &kp RALT
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
        };
                                                                                                                                                        
        extra_layer_3 {
            display-name = "EXTRA 3";                                                                                                                                   
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               XXX           XXX           &p_tmux       &n_tmux       XXX           &sall         XXX                   XXX           XXX           XXX           &p_tmux       &n_tmux       XXX           XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               &kp LCTRL     &ublw         &kp UP        &kp DOWN      &ubrw         &copy_cut     XXX                   &sret         &sret         XXX           &kp LEFT      &kp RIGHT     XXX           XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           XXX           &p_tab        &n_tab        XXX           &paste                                            &kp RET       XXX           &p_tab        &n_tab        XXX           XXX
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       XXX           XXX           XXX                   XXX           XXX           XXX
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               XXX           XXX           XXX           XXX           XXX           XXX           XXX                   XXX           XXX           &kp N1        &kp N2        &kp N3        &shift_tab    XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           XXX           XXX           XXX           XXX           XXX           XXX                   XXX           XXX           &kp N4        &kp N5        &kp N6        &kp TAB       &kp PGUP
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           XXX           XXX           XXX           XXX           XXX                                               XXX           &kp N7        &kp N8        &kp N9        &kp N0        &kp PGDN
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       XXX           XXX           XXX                   XXX           XXX           XXX
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;                                                                                                                                                                              
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               XXX           XXX           XXX           XXX           XXX           XXX           XXX                   XXX           XXX           &tw_y         &tw_u         &tw_i         &tw_o         XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           &claude       XXX           XXX           XXX           XXX           XXX                   XXX           XXX           &tw_h         &tw_j         &tw_k         &tw_l         XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           &p_page       &n_page       XXX           XXX           XXX                                               XXX           &tw_n         &tw_m         &tw_comma     &tw_dot       XXX
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       XXX           XXX           XXX                   XXX           XXX           XXX
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX   
                XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX    XXX   
                XXX    XXX    XXX    XXX    XXX    XXX                  XXX    XXX    XXX    XXX    XXX    XXX   
                                     XXX    XXX    XXX                  XXX    XXX    XXX          
            >;
        };
    };
};
