

#define XXX &none

        extra_layer_1 {
            display-name = "EXTRA 1";
            bindings = <
            //
            //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
               XXX           XXX           XXX           XXX           XXX           XXX           XXX                   XXX           XXX           XXX           XXX           XXX           XXX           XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           XXX           XXX           XXX           XXX           XXX           XXX                   XXX           XXX           XXX           XXX           XXX           XXX           XXX
            //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯       ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
               XXX           XXX           XXX           XXX           XXX           XXX                                               XXX           XXX           XXX           XXX           XXX           XXX
            //╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────╮       ╭─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                                       XXX           XXX           XXX                   XXX           XXX           XXX
            //                                                        ╰─────────────┴─────────────┴─────────────╯       ╰─────────────┴─────────────┴─────────────╯
            >;
